@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: Lato; 
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#caccd1;
}

h1 {
  font-family: Lato; 
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #037ef3;
}

h2 {
  font-family: Lato; 
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #037ef3;

}

h2 a {
  font-family: Lato; 
  font-weight: 700;
  text-transform: uppercase;
  color: #037ef3;
  text-decoration: none;
}

.blue { color: #037ef3; }
.yellow { color: #ffc845; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #037ef3;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #52565e;
	   -moz-box-shadow: 0 2px 2px -2px #52565e;
	        box-shadow: 0 2px 2px -2px #52565e;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

.container tr:nth-child(odd) {
	  background-color: #323C50;
}

.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #caccd1;
}

.container td:first-child { color: #f85a40; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #52565e;
	   -moz-box-shadow: 0 6px 6px -6px #52565e;
	        box-shadow: 0 6px 6px -6px #52565e;
}

.container td:hover {
  background-color: #f85a40;
  color: #52565e;
  font-weight: bold;
  
  box-shadow: #f3f4f7 -1px 1px, #f3f4f7 -2px 2px, #f3f4f7 -3px 3px, #f3f4f7 -4px 4px, #f3f4f7 -5px 5px, #f3f4f7 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
    body {
      background: url(rocket.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-bottom: 20px;
    }
    h1 { 
      font-family: Lato; 
      font-size: 24px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 700; 
      line-height: 26.4px; 
    } 
    h3 { 
      font-family: Lato; 
      font-size: 14px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 700; 
      line-height: 15.4px; 
    } 
    p { 
      font-family: Lato; 
      font-size: 14px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 20px; 
    } 
    blockquote { 
      font-family: Lato; 
      font-size: 21px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 30px; 
    } 
    pre { 
      font-family: Lato; 
      font-size: 13px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 18.5714px; 
    }
       