body {
    background-image:    url(AIESEC/raviismeanie/rocket.png);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              
}